body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
    color: #212121;
    font-style: normal;

}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* .wraper{
    display: inline-block;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   margin-top: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.our-work-list {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.our-work-list>.item {
    flex-basis: calc((100% - 30px * 3) / 3);
    margin-left: 30px;
    margin-top: 30px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header */
.boarder {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}


.menu{
   display: flex;
    margin-left: 94px;
}

.menu > .item:not(:last-child){
    margin-right: 50px;
}

.topconracts{
   display: flex;
   margin-left: auto; 
}

.topconracts > .item:not(:last-child){
    margin-right: 30px;
}

.logo-interactive{
    color: #2196F3;
}

.navv{
    display: flex;
align-items: center;
}

.nav-link {     
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

/* секція герой */
.hero {
    margin: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    height: 500px;
    background: #2F303A;
}

.hero-title {
    margin: 0 auto 30px;
        max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.hero-button {
display: block;
    margin: auto;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    color: #ffffff;
    background-color: #2196f3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background: #2196F3;
}


/* Наші переваги */
.about-us-title {
    padding-top:80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}


.about-us-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.about-us-list>.item {
    flex-basis: calc((100% - 30px * 4) / 4);
    margin-left: 30px;
    margin-top: 30px;
}

.about-us-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #212121;
}



/* Наша команда */
.our-team {
    background-color: #F5F4FA;
}

.list-team {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.team-member {
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-info {
    padding-top: 30px;
    padding bottom: 30px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

/* портволіо */
.filter-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.logo-interactive{
 color: #212121;   
}




.button-menu{
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}

.current{
    color:#2196f3 ;
}




.filter-menu .button-menu {
    background: #f5f4fa;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.64;
    text-align: center;
    border: transparent;
    cursor: pointer;
}

.button-menu:hover,
.button-menu:focus {
    color: #ffffff;
    background-color: #2196f3;
}

.img_cont{
    margin: auto;
    width: 1170;
    display: flex;
    justify-content: space-between;
}

.intro_img{
    margin-top: 50px;
    display: inline-block;
    margin-bottom: ;
}

/* footer*/
.bg-footer{
    padding-top: 60px;
        padding-bottom: 60px;
    
        background: #2F303A
}

.logo-footer{
color: #ECECEC;
}



.logo-in{
color: #4383b8;
}


.address{
    color: #ECECEC;
}










@media screen and (max-width:800px){
  width: 30%;  
}

@media screen and (max-width:600px) {
    width: 48%;
}














@media screen and (max-width: 980px; ) {
    width: 30%;
    input{
        display: none;
    }
}


@media screen and (max-width: 800px;) {
width: 30%;
}

@media screen and (max-width: 600px; ) {
    width: 48%;
}





